<div class="center jumbotron">
	<h1>LiNkMe is under construction</h1>
	<!-- <%= link_to 'JOBS', controller: 'jobs' %> -->
<br>
<center>
	<a href="/jobs" class="btn btn-lg btn-primary">JOBS</a></center>
</div>

<!-- <div class="btn btn-lg btn btn-default">
	<p>Need A Job, Sign Up Here!</p>
</div>
 -->