 <!DOCTYPE html>
<html>
<head>
	<title>LinkMe</title>


</head>
<body class="unique">

<div>
	<h1>One Stop Shop</h1>
<br>
<center>
	<a href="/jobs" class="btn btn-lg btn-primary">JOBS</a></center>
</div>
</body>
</html>
