/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .jobs{
 	display: block;
	border-style: solid;
	margin: 16px 2px;
	padding: 12px;
	width: 47%;
	float: left;
	font-weight: bold;
	font-size: 20px;
	border-width: 3px;
}
.imgs {
    vertical-align: middle;
    border: 1px #00F;
    float: right;
     vertical-align: middle;
	 border: 1px #00F;
    float: right;
}


 a:hover { border-color: #ccc; }